<div class=" well well-small">
  <div class="container-fluid">
    <a class="" href="<%= admin_root_path %>" >fox-music manager</a>
    <div class="pull-right">
      <% if current_admin %>
        <b class="text-error"><%= current_admin.email %></b>
        <%= link_to('登出', destroy_admin_session_path, :method => :delete, :class => " btn-link btn-small ") %>
        <%= link_to "change",  edit_admin_registration_path %> 
      <% end %>
    </div>
  </div>
</div>