
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <span class="accordion-toggle" data-toggle="collapse" href="#collapse1">music <i class="icon-plus"></i></span>
    </div>
    <div id="collapse1" class="accordion-body in collapse">
      <div class="accordion-inner">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to 'song', admin_songs_url %></li>
          <li><%= link_to 'image', admin_paintings_url %></li>
          <li><%= link_to 'video', admin_videos_url %></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>